{% extends 'base.twig' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <form action="/sign-up" method="POST" accept-charset="utf-8" data-cy="sign-up">
        Email address
        <input type="text"
               name="email"
               value="{% if data.email %}{{ data.email }}{% endif %}" data-cy="sign-up__email">
        <span data-cy="sign-up__wrongEmail">
            {% if errors.email %}
                {% for error in errors.email %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </span>
        <br>
        Password
        <input type="password" name="pass" data-cy="sign-up__password">
        <br>
        Repeat password
        <input type="password" name="pass_confirm" data-cy="sign-up__repeatPassword">
        <span data-cy="sign-up__wrongPassword">
            {% if errors.pass %}
                {% for error in errors.pass %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </span>
        <br>
        Number of bitcoins
        <input type="text"
               name="bitcoins"
               value="{% if data.bitcoins %}{{ data.bitcoins }}{% endif %}" data-cy="sign-up__coins">
        <span data-cy="sign-up__wrongCoins">
            {% if errors.bitcoins %}
                {% for error in errors.bitcoins %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </span>
        <br>
        <input type="submit" value="Sign Up" data-cy="sign-up__btn">
    </form>
{% endblock %}